    <header>
        <div class="grid container text-end text-light d-flex align-items-center h-100">
          
            
  

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 640px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'foto4.avif', class: 'img-fluid rounded-start', alt: '...' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Dayanna Flores Ferrada</h5>
        <p class="card-text">Soy ingeniera en informática con 18 años de experiencia, donde me he desempeñado en varias areas orientada al desarrollo de software</p>
        <p class="card-text">Mi mayor desempeño en esta área ha sido en diseñar la arquitectura de los sistemas de información y actualmente estoy complementando mis conocimientos con estudios de programación en Ruby on Rails </p>
        
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="col">
      <%# Column %>
      <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Lenguajes de programación 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= image_tag('https://camo.githubusercontent.com/413c1aa65482484b35b522caf60981ae53d352f5ee32c12d5e02e4d75eb15840/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f527562792d4343333432443f7374796c653d666f722d7468652d6261646765266c6f676f3d72756279266c6f676f436f6c6f723d7768697465', alt: 'Ruby', style: 'width: 14%;') %>
        <%= image_tag('https://camo.githubusercontent.com/07858da9ad3cd19f1e10777508bf1b5470f22f8eb0b3ceaa425e2ff85461e30e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f507974686f6e2d3337373641423f7374796c653d666f722d7468652d6261646765266c6f676f3d707974686f6e266c6f676f436f6c6f723d7768697465', alt: 'Python', style: 'width: 15%;') %>
        <%= image_tag('https://camo.githubusercontent.com/d02d3808d64cbb1d1512689cbbdc9dac2186bca44408b53847327a7a09568b9d/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4a6176617363726970742d3332333333303f7374796c653d666f722d7468652d6261646765266c6f676f3d6a617661736372697074266c6f676f436f6c6f723d463744463145', alt: 'Javascript', style: 'width: 20%;') %>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Base de datos
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">


<a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/4aed80090cf6326364d8fbc173e9d307293da717b071823b37d3514afcbcd98e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506f737467726553514c2d3331363139323f7374796c653d666f722d7468652d6261646765266c6f676f3d706f737467726573716c266c6f676f436f6c6f723d7768697465"><img src="https://camo.githubusercontent.com/4aed80090cf6326364d8fbc173e9d307293da717b071823b37d3514afcbcd98e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506f737467726553514c2d3331363139323f7374796c653d666f722d7468652d6261646765266c6f676f3d706f737467726573716c266c6f676f436f6c6f723d7768697465" alt="PostgreSQL" data-canonical-src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" style="max-width: 100%;"></a> <a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/97b85fcc764cdb7e2b6e762476e406f2df5e5a37bbb1e51820502b19b5815a84/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f53514c6974652d3037343035453f7374796c653d666f722d7468652d6261646765266c6f676f3d73716c697465266c6f676f436f6c6f723d7768697465"><img src="https://camo.githubusercontent.com/97b85fcc764cdb7e2b6e762476e406f2df5e5a37bbb1e51820502b19b5815a84/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f53514c6974652d3037343035453f7374796c653d666f722d7468652d6261646765266c6f676f3d73716c697465266c6f676f436f6c6f723d7768697465" alt="SQLite" data-canonical-src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" style="max-width: 100%;"></a> <a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/c04bf776f4585a9abf246a25bb8a98375f56bcce8ca144ec266a9c13010f3e33/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f52656469732d4443333832443f7374796c653d666f722d7468652d6261646765266c6f676f3d7265646973266c6f676f436f6c6f723d7768697465"><img src="https://camo.githubusercontent.com/c04bf776f4585a9abf246a25bb8a98375f56bcce8ca144ec266a9c13010f3e33/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f52656469732d4443333832443f7374796c653d666f722d7468652d6261646765266c6f676f3d7265646973266c6f676f436f6c6f723d7768697465" alt="Redis" data-canonical-src="https://img.shields.io/badge/Redis-DC382D?style=for-the-badge&amp;logo=redis&amp;logoColor=white" style="max-width: 100%;"></a> <a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/7b3413138bcae5072308005d6aa3cabc21f1c82f60d8cf06807732fa8b9894bf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f6e676f44422d3445413934423f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6f6e676f6462266c6f676f436f6c6f723d7768697465"><img src="https://camo.githubusercontent.com/7b3413138bcae5072308005d6aa3cabc21f1c82f60d8cf06807732fa8b9894bf/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f6e676f44422d3445413934423f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6f6e676f6462266c6f676f436f6c6f723d7768697465" alt="MongoDB" data-canonical-src="https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&amp;logo=mongodb&amp;logoColor=white" style="max-width: 100%;"></a> <a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/0794a72cb71141326bf018d346cdbd1330da906fa0e8988a88589ba49455f5fd/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4669726573746f72652d4646434132383f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365266c6f676f436f6c6f723d626c61636b"><img src="https://camo.githubusercontent.com/0794a72cb71141326bf018d346cdbd1330da906fa0e8988a88589ba49455f5fd/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4669726573746f72652d4646434132383f7374796c653d666f722d7468652d6261646765266c6f676f3d6669726562617365266c6f676f436f6c6f723d626c61636b" alt="Firestore" data-canonical-src="https://img.shields.io/badge/Firestore-FFCA28?style=for-the-badge&amp;logo=firebase&amp;logoColor=black" style="max-width: 100%;"></a>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Software y Framework
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
<img src="https://camo.githubusercontent.com/79294344b1426e5ae031d11f7a684afe94fb2a9e35c88ab50706c067893756af/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f56697375616c25323053747564696f253230436f64652d3030374143433f7374796c653d666f722d7468652d6261646765266c6f676f3d76697375616c2d73747564696f2d636f6465266c6f676f436f6c6f723d7768697465" alt="Visual Studio Code" data-canonical-src="https://img.shields.io/badge/Visual%20Studio%20Code-007ACC?style=for-the-badge&amp;logo=visual-studio-code&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/cf06fedcca8eedc2ebcf41a87c79ae200b8e7f79b65a9c2dcd833d1990bd3290/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506f73746d616e2d4646364333373f7374796c653d666f722d7468652d6261646765266c6f676f3d706f73746d616e266c6f676f436f6c6f723d7768697465" alt="Postman" data-canonical-src="https://img.shields.io/badge/Postman-FF6C37?style=for-the-badge&amp;logo=postman&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/4e96d3deef858a64ba2f2001a562cdc3130469a54931f21127617c1ed2199ff7/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f444265617665722d4545303030303f7374796c653d666f722d7468652d6261646765266c6f676f3d64626561766572266c6f676f436f6c6f723d7768697465" alt="Dbeaver" data-canonical-src="https://img.shields.io/badge/DBeaver-EE0000?style=for-the-badge&amp;logo=dbeaver&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/b9326effec4bc941d648d79b2e24ed7c708122671d2540c3277596dc52d640f2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c696e75782d4643433632343f7374796c653d666f722d7468652d6261646765266c6f676f3d6c696e7578266c6f676f436f6c6f723d626c61636b" alt="Linux" data-canonical-src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&amp;logo=linux&amp;logoColor=black" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/1cc3ed014dbb3cc907789013096c44d0bc78875ee219d9455f619ff18059ac4a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f57696e646f77732d3030373844363f7374796c653d666f722d7468652d6261646765266c6f676f3d77696e646f7773266c6f676f436f6c6f723d7768697465" alt="Windows" data-canonical-src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&amp;logo=windows&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/8a61ef97622df78c36d2ac0c400be9d154e0a756137e6752117de9bc1a78660a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4669676d612d4632344531453f7374796c653d666f722d7468652d6261646765266c6f676f3d6669676d61266c6f676f436f6c6f723d7768697465" alt="Figma" data-canonical-src="https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&amp;logo=figma&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/7e282220b8ec0dd29cf99be1c0f5e82d74a42bc84ed834ee6afd86b4bad3bfee/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6769746875622d2532333132313031312e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d676974687562266c6f676f436f6c6f723d7768697465" alt="GitHub" data-canonical-src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&amp;logo=github&amp;logoColor=white" style="max-width: 100%;">
<img src="https://camo.githubusercontent.com/4520a7028dfc78ec3ba2e270799b3727038981fe3e0a9bf7d701b1ad70bceef7/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f426f6f7473747261702d3536334437433f7374796c653d666f722d7468652d6261646765266c6f676f3d626f6f747374726170266c6f676f436f6c6f723d7768697465" alt="Bootstrap" data-canonical-src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" style="max-width: 100%;">

<img src="https://camo.githubusercontent.com/466cd9b81abcedb1db7d8f6fcd75148b6728e1eb8e443ab320928e924b93a4e0/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f446973636f72642d3732383944413f7374796c653d666f722d7468652d6261646765266c6f676f3d646973636f7264266c6f676f436f6c6f723d7768697465" alt="Discord" data-canonical-src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&amp;logo=discord&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/8f41682a178e57a174d0c6042e9cdb842c6329b24c34b2bf4206c25e933073a9/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f54656c656772616d2d3243413545303f7374796c653d666f722d7468652d6261646765266c6f676f3d74656c656772616d266c6f676f436f6c6f723d7768697465" alt="Telegram" data-canonical-src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&amp;logo=telegram&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/121f3483738c9ad5aba46fea78cab64b65c3d269a11571e2f71c0ce228e5b2e7/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d657373656e6765722d3030423246463f7374796c653d666f722d7468652d6261646765266c6f676f3d6d657373656e676572266c6f676f436f6c6f723d7768697465" alt="Messenger" data-canonical-src="https://img.shields.io/badge/Messenger-00B2FF?style=for-the-badge&amp;logo=messenger&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/f494b25a88072eabe791c96490e421233382d80623fdc15c7004aa2b20671045/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f476f6f676c6525323044726976652d3432383546343f7374796c653d666f722d7468652d6261646765266c6f676f3d676f6f676c652d6472697665266c6f676f436f6c6f723d7768697465" alt="Google Drive" data-canonical-src="https://img.shields.io/badge/Google%20Drive-4285F4?style=for-the-badge&amp;logo=google-drive&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/3db1bd753e21625ab6354ee96537a002e389ed1d8915dab0961b40898325b630/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f476f6f676c65253230446f63732d3432383546343f7374796c653d666f722d7468652d6261646765266c6f676f3d676f6f676c652d646f6373266c6f676f436f6c6f723d7768697465" alt="Google Docs" data-canonical-src="https://img.shields.io/badge/Google%20Docs-4285F4?style=for-the-badge&amp;logo=google-docs&amp;logoColor=white" style="max-width: 100%;"> 
<img src="https://camo.githubusercontent.com/603fcd3f9da92068a90714fbd53f0cdd34c929bfcb872aeacc01d1bfed7a9065/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6963726f736f66742532305465616d732d3632363441373f7374796c653d666f722d7468652d6261646765266c6f676f3d6d6963726f736f66742d7465616d73266c6f676f436f6c6f723d7768697465" alt="Teams" data-canonical-src="https://img.shields.io/badge/Microsoft%20Teams-6264A7?style=for-the-badge&amp;logo=microsoft-teams&amp;logoColor=white" style="max-width: 100%;"></p>

      </div>
    </div>
  </div>
</div>

    </div>

  </div>
</div>


        </div>

    </header >
<!-- Inicio de secciones -->
  <section id="Presentacion" class="d-none d-lg-block">
<div class="container text-center border p-5">
  <h2 id="titulos">Mis Proyectos</h2>
  <hr class="mt-1 mb-1 linea" />
</div>
    <div class="container">
<!-- Inicio de portafolio -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <%= link_to image_tag('portafolio1.jpg', class: 'img-fluid rounded-start', alt: '...'), 'https://github.com/dayanaff7/proyecto_postulacion_exm06', target: '_blank' %>

      <div class="card-body">
        <h5 class="card-title">Portal de Empleo</h5>
        <p class="card-text">Aplicacion desarrollada en Ruby on Rails en donde los usuarios de una empresa pueden a postular a consursos internos</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= link_to image_tag('portafolio2.jpg', class: 'img-fluid rounded-start', alt: '...'), 'https://github.com/dayanaff7/desafio_twitter', target: '_blank' %>
      <div class="card-body">
        <h5 class="card-title">Simulando Twitter</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= link_to image_tag('portafolio3.jpg', class: 'img-fluid rounded-start', alt: '...'), 'https://dayanaff7.github.io/ror_examen_m02/', target: '_blank' %>
      <div class="card-body">
        <h5 class="card-title">Viajes Chile</h5>
        <p class="card-text">Examen final de módulo del 2 del curso de Desarrollo Star up en Ruby on Rauls realizado en Talento digital</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= link_to image_tag('portafolio4.jpg', class: 'img-fluid rounded-start', alt: '...'), 'https://dayanaff7.github.io/proyecto_en_bootstrap_olivia/', target: '_blank' %>
      <div class="card-body">
        <h5 class="card-title">Olivia Ros</h5>
        <p class="card-text">Trabajo desarrollado en Bootstrap para curso en Talento Digital de Ruby on Rails</p>
      </div>
    </div>
  </div>
</div>



<!-- fin de portafolio -->
    </div>
  </section>
